<!doctype html>
<html>
<head>
    <%= partial "partials/head" %>
</head>

<body class = 'single single-resources blog'>
    <%= partial "partials/header" %>
    <section class='main-content'>
        <div class='container container-padding-none'>
            <div class='col-md-3 pull-right'>
                <aside class='sidebar'>

                    <h3><i class="fa fa-tag" aria-hidden="true"></i>Posts by Tag</h3>
                    <%= tag_cloud %>

                    <div class='subscribe'>
                        <a class="a2a_dd" href="https://www.addtoany.com/subscribe"><img src="https://static.addtoany.com/buttons/subscribe_106_16.gif" width="106" height="16" border="0" alt="Subscribe"/></a>
                        <script>
                        var a2a_config = a2a_config || {};
                        a2a_config.linkurl = "https://developer.mypurecloud.com/blog/atom.xml";
                        </script>
                        <script async src="https://static.addtoany.com/menu/feed.js"></script>
                    </div>
                </aside>
            </div>
            <div class='col-md-9'>
                <%if current_page.data.title != nil %>
                <h1><%=current_page.data.title%></h1>
                <% end %>

                <%if current_page.data.author != nil %>
                <%= partial "partials/articlelayouthead"%>
                <%= yield %>
                <%= partial "partials/articlelayoutfoot"%>
                <%else %>
                <%= yield %>
                <%end%>
            </div>

            <br class="clear">
        </div>
    </section>
    <%= partial "partials/footer" %>
</body>
</html>
