<!doctype html>
<html>
<head>
    <%= partial "partials/head" %>
</head>

<body class = 'single single-resources blog'>
    <%= partial "partials/header" %>
    <section class='main-content'>
        <div class='container container-padding-none'>
            <div class='col-md-3 pull-right'>
                <aside class='sidebar'>

                    <h3><i class="fa fa-tag" aria-hidden="true"></i>Posts by Tag</h3>
                    <%= tag_cloud %>

                    <div class='subscribe'>


                        <a class="a2a_dd" href="https://www.addtoany.com/subscribe"><img src="https://static.addtoany.com/buttons/subscribe_106_16.gif" width="106" height="16" border="0" alt="Subscribe"/></a>
                        <script>
                        var a2a_config = a2a_config || {};
                        a2a_config.linkurl = "https://developer.mypurecloud.com/blog/atom.xml";
                        </script>
                        <script async src="https://static.addtoany.com/menu/feed.js"></script>
                    </div>
                </aside>
            </div>
            <div class='col-md-9'>
                <%if current_page.data.title != nil %>
                <h1><%=current_page.data.title%></h1>
                <% end %>

                <%= yield %>

                <%if current_page.data.author != nil %>
                <div class='share'>
                    <div class="a2a_kit a2a_kit_size_32 a2a_default_style">

                        <a class="a2a_button_linkedin"></a>
                        <a class="a2a_button_copy_link"></a>
                        <a class="a2a_button_email"></a>
                        <a class="a2a_button_twitter"></a>
                        <a class="a2a_button_facebook"></a>
                        <a class="a2a_button_google_plus"></a>
                    </div>
                    <script async src="https://static.addtoany.com/menu/page.js"></script>
                </div>

                <%= partial "partials/authorbio" %>
                <%= lint_page(current_page) %>
                <% end %>
            </div>

            <br class="clear">
        </div>
    </section>
    <%= partial "partials/footer" %>
</body>
</html>
