<div class='row author-bio'>

    <div class='author-image col-md-2'>
        <img src='/<%= get_blog_author(current_page.data.author).imagename %>'>
    </div>
    <div class='col-md-9 author-details'>
        <div>
            About <i><%= get_blog_author(current_page.data.author).name %>
            <%if get_blog_author(current_page.data.author).title != nil%>
            , <%= get_blog_author(current_page.data.author).title %>
            <%if get_blog_author(current_page.data.author).company != nil%>at  <%= get_blog_author(current_page.data.author).company %> <%end%>
            <%end%></i>
        </div>

        <p>
            <%= get_blog_author(current_page.data.author).bio %>
        </p>
        <%if get_blog_author(current_page.data.author).twitter %>
        <a href="https://twitter.com/<%= get_blog_author(current_page.data.author).twitter %>" class="twitter-follow-button" data-show-count="false">Follow @<%= get_blog_author(current_page.data.author).twitter %></a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        <%end%>

    </div>
</div>
