---
pageable: true
per_page: 10
title: Developer Blog
is_root_page: true
---
<% if paginate && num_pages > 1 %>
  <p>Page <%= page_number %> of <%= num_pages %></p>

  <% if prev_page %>
    <p><%= link_to 'Previous page', prev_page %></p>
  <% end %>
<% end %>

<% page_articles.each_with_index do |article, i| %>
  <%= partial(:"partials/articlesummary", :locals=>{:article => article}) %>

  <div class="pull-right">
  <ul class='taglist'>
      <li>
          <i class="fa fa-tag" aria-hidden="true"></i>
      </li>
      <% article.tags.each do |tag| %>
      <li>
        <%= link_to tag, 'tags/' + tag + "/" %>
      </li>

      <% end %>
  </ul>

  </div>
<% end %>

<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>
