---
pageable: true
per_page: 10
title: Developer Blog Index

---
<% if paginate && num_pages > 1 %>
  <p>Page <%= page_number %> of <%= num_pages %></p>

  <% if prev_page %>
    <p><%= link_to 'Previous page', prev_page %></p>
  <% end %>
<% end %>

<% page_articles.each_with_index do |article, i| %>
  <h2><%= link_to article.title, article %></h2>
  <div class='row'>
      <div class='col-md-3'>
           by: <%= get_blog_author(article.data.author).name %>
      </div>
      <div class='col-md-3'>
          <span><%= article.date.strftime('%B %e, %Y') %></span>
      </div>

  </div>
<p>
<%= article.summary(250) %>
</p>


  <div class="pull-right">
  <ul class='taglist'>
      <% article.tags.each do |tag| %>
      <li>
        <%= link_to tag, 'tags/' + tag + ".html" %>
      </li>

      <% end %>
  </ul>

  </div>
<% end %>

<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>
